:root {
    --primary: #56b8e6;
    --highlight: #1d81af;
    --black: #101010;
    --background: #fcfcfc;

    --clear-border: 1px solid rgba(255, 255, 255, 0.3);
    --border-radius: 20px;
    --grey-background: rgba(145, 141, 141, 0.1);
    --dark-grey-background: #dfdddd;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--background);
    min-height: 100svh;
}

body.flex {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: var(--highlight);
}

footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background: var(--grey-background);
    border-radius: var(--border-radius);
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    border: var(--clear-border);
}

.footer_left,
.footer_center,
.footer_right {
    flex: 1;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    justify-content: center;
    background: var(--grey-background);
    padding: 20px;
    width: 300px;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    border: var(--clear-border);
}

form input, textarea{
    border-radius: var(--border-radius);
    background: var(--grey-background);
    border: var(--clear-border);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    padding: 5px 10px;
    margin: 5px;
}

form textarea{
    max-width: 200px;
    min-height: 100px;
    padding: 10px;
    align-self: center;
}

form input[type="submit"],
button {
    padding: 5px 10px;
    background: var(--grey-background);
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    border: var(--clear-border);
    border-radius: 5px;
    margin: 5px;
    color: var(--black);
    align-self: center;
}
table {
    border-collapse: collapse;
    background: var(--grey-background);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
  }
  
  th,td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--grey-background);
    color: var(--black);
  }
  
  th {
    background-color: var(--grey-background);
    font-weight: bold;
    color: var(--black);
  }
  
  
    
#time_slots{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 20px;
    border-radius: var(--border-radius);
    background: var(--grey-background);
    border: var(--clear-border);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    color: var(--highlight);
}

#time_slots:empty{
    display: none;
}

section{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1{
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--black);
}

a.active {
    color: var(--highlight);
}

nav {
    margin: 27px auto 0;
    position: relative;
    width: 690px;
    height: 50px;
    border-radius: var(--border-radius);
    margin-bottom: 60px;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    background: var(--grey-background);
    border: var(--clear-border);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

nav ul:empty {
    display: none;
}

nav li {
    flex: 1;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    width: 100%;
    color: var(--black);
}

a:hover, nav a:hover, nav a.active:hover {
    color: var(--highlight);
}
nav a:hover{
    background-color: var(--dark-grey-background);
    border-radius: var(--border-radius);
}

a:active, nav a:active, nav a.active:active {
    color: var(--primary);
}