:root {
    --primary: #7d2ecc;
    --highlight: #9760ce;
    --black: #101010;
    --white: #fff;

    --clear-border: 1px solid rgba(255, 255, 255, 0.3);
    --border-radius: 20px;
    --grey-background: rgba(145, 141, 141, 0.1);
    --dark-grey-background: #dfdddd;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    --text: #3a4f66;

    --footer-box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.1);
    --container-width: min(100%, calc(90vw - 0px * 2));
    --container-max-width: 1290px;
    --footer-text: #3a4f66;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--white);
}

#root {
    display: flex;
    flex-direction: column;
    position: relative;
}

header,
main,
footer {
    display: block;
    background: var(--white);
}

main {
    position: relative;
    flex-grow: 1;
    z-index: 1;
    box-shadow: var(--footer-box-shadow);
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--footer-text);
}

footer:empty {
    display: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: relative;
    z-index: 3;
}

.header-container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-item {
    padding: 7px;
}

.header-logo {
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--text);
}

.header-logo img {
    width: 25px;
    height: 25px;
}

.header-logo .right-paw {
    margin-top: 10px;
}

.header-logo:active {
    color: var(--text);
}

.header-logo p {
    color: inherit;
}

.header-divider {
    padding: 25px 10px;
    margin: 0 auto;
    width: var(--container-width);
    max-width: var(--container-max-width);
}

.header-divider span {
    display: block;
    border-top: 1px solid #7d94ae4a;
    width: 100%;
}

.header-nav {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    padding: 10px;
}

.nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
    padding: 15px;
    color: var(--text);
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
}

.nav-links li a:hover {
    color: var(--highlight);
}

.nav-links li a.active,
.nav-links li a:active {
    color: var(--primary);
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    justify-content: center;
    background: var(--grey-background);
    padding: 20px;
    width: 300px;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    border: var(--clear-border);
}

form input, textarea{
    border-radius: var(--border-radius);
    background: var(--grey-background);
    border: var(--clear-border);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    padding: 5px 10px;
    margin: 5px;
}

form textarea{
    max-width: 200px;
    min-height: 100px;
    padding: 10px;
    align-self: center;
}

form input[type="submit"],
button {
    padding: 5px 10px;
    background: var(--grey-background);
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    border: var(--clear-border);
    border-radius: 5px;
    margin: 5px;
    color: var(--black);
    align-self: center;
}
table {
    border-collapse: collapse;
    background: var(--grey-background);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
  }
  
  th,td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--grey-background);
    color: var(--black);
  }
  
  th {
    background-color: var(--grey-background);
    font-weight: bold;
    color: var(--black);
  }

.footer-top {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 30px 0;
    margin: 0 auto;
    width: var(--container-width);
    font-size: 18px;
}

.footer-top .column {
    display: flex;
    flex-direction: column;
}

.column .column-block {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 40px;
}

.column-block a,
.column-block a:visited {
    color: inherit;
}

.column-block a:hover {
    color: var(--highlight);
}

.column-block a:active {
    color: var(--primary);
}

.icon {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}
  
.footer-bottom {
    width: var(--container-width);
    margin: 0 auto;
    padding: 70px 0;
}

.footer-bottom.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-container {
    color: #969faa;
    font-size: 15px;
}

.socials-container {
    display: flex;
    column-gap: 20px;
}

.column-block.footer-logo {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    user-select: none;
    font-size: 40px;
    column-gap: 0;
}

.footer-logo img {
    width: 40px;
    height: 40px;
}

.footer-logo .left-paw {
    margin-top: 5px;
}

.footer-logo .right-paw {
    margin-top: 15px;
}

.social-icon {
    display: block;
    width: 25px;
    height: 25px;
    transition: 0.5s;
    background-size: cover;
}

.social-icon:hover,
.icon:hover {
    transform: translateY(-10px);
}

.instagram {
    background-image: url('../img/instagram.svg');
}

.facebook {
    background-image: url('../img/facebook.svg');
}

.github {
    background-image: url('../img/github.svg');
}

.instagram:hover {
    background-image: url('../img/instagram-focus.svg');
}

.facebook:hover {
    background-image: url('../img/facebook-focus.svg');
}

.github:hover {
    background-image: url('../img/github-focus.svg');
}

section{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1{
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--black);
}

a.active {
    color: var(--highlight);
}

a:active, nav a:active, nav a.active:active {
    color: var(--primary);
}