:root {
    --primary: #56b8e6;
    --highlight: #1d81af;
    --black: #101010;
    --background: #fcfcfc;

    --clear-border: 1px solid rgba(255, 255, 255, 0.3);
    --border-radius: 20px;
    --grey-background: rgba(145, 141, 141, 0.1);
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--background)

}

a {
    text-decoration: none;
}

a:visited {
    color: var(--black);
}

a.active {
    color: var(--highlight);
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
header {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: var(--highlight);
}
footer{
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background: var(--grey-background);
    border-radius: var(--border-radius);
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    border: var(--clear-border);
    
}
form{
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    justify-content: center;
    background: var(--grey-background);
    padding: 20px;
    width: 300px;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    border: var(--clear-border);
}
form input, textarea{
    border-radius: var(--border-radius);
    background: var(--grey-background);
    border: var(--clear-border);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    padding: 5px 10px;
    margin: 5px;
}
form textarea{
    max-width: 200px;
    padding: 10px;
    align-self: center;
}
button{
    padding: 1px;
    background: var(--grey-background);
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    border: var(--clear-border);
    border-radius: 5px;
    margin-left: 5px;
    color: var(--black);
    }
    
#time_slots{
    padding: 20px;
    border-radius: var(--border-radius);
    margin-left: 20px;
    margin-top:60px;
    font-weight: bold;
    background: var(--grey-background);
    border: var(--clear-border);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    color: var(--highlight);
}
#time_slots:empty{
    display: none;
}

section{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
}
h1{
    padding: 10px;
    text-align: center;
}












nav {
    margin: 27px auto 0;
    position: relative;
    width: 690px;
    height: 50px;
    border-radius: var(--border-radius);
    font-size: 0;
    display: flex;
    justify-content: space-between;
    background: var(--grey-background);
    border: var(--clear-border);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
nav ul:empty{
    display: none;
}

nav li {
    flex: 1;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 100%;
}

a:hover,
nav a:hover,
nav a.active:hover {
    color: var(--highlight);
}

a:active,
nav a:active,
nav a.active:active {
    color: var(--primary);
}