{% extends 'base.html' %}
{% block head %}
    <title>Book Appointment - Groomy</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB18HHJbiZIs6cT4GKPW0Vc_e6WQci8-ZE&loading=async&libraries=places&callback=initAutocomplete" async defer>
    </script>
    <style>
button {
    margin: 0;
    background: none;
    backdrop-filter: none;
    box-shadow: none;
    border: none;
}

input[type="submit"],
button[type="submit"] {
    position: absolute;
    right: 0;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    padding: 5px 20px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    border-radius: 5px;
    transition: all 0.2s ease;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    border: none;
    background-color: #7d2ecc;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    transform: translate3d(0, -3px, 0);
    background-color: #7d2ecc;
}

input[type="submit"]::before,
button[type="submit"]::before {
    display: block;
    position: absolute;
    z-index: -1;
    content: '';
    top: 12px;
    left: 10px;
    right: 10px;
    bottom: 0;
    opacity: 0;
    border-radius: inherit;
    background-color: #7d2ecc;
    transition: all 0.2s ease;
    filter: blur(11px);
}

input[type="submit"]:hover::before,
button[type="submit"]:hover::before {
    opacity: 0.8;
}
    </style>
{% endblock %}

{% block nav %}
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    <li><a href="{{ url_for('appts.appointments') }}">Book Appointment</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
{% endblock %}

{% block content %}
    <section>
        <div class="form-container">
            <div class="calendar-container">
                <div class="calendar-base">
                    <div class="calendar-head">
                        <div class="calendar-year-select">
                            <div class="triangle-left"></div>
                            <div class="year"></div>
                            <div class="triangle-right"></div>
                        </div>
                        <div class="months">
                            <span class="month">Jan</span>
                            <span class="month">Feb</span>
                            <span class="month">Mar</span>
                            <span class="month">Apr</span>
                            <span class="month">May</span>
                            <span class="month">Jun</span>
                            <span class="month">Jul</span>
                            <span class="month">Aug</span>
                            <span class="month">Sep</span>
                            <span class="month">Oct</span>
                            <span class="month">Nov</span>
                            <span class="month">Dec</span>
                        </div>
                        <hr class="month-spacer">
                        <div class="days">SUN MON TUE WED THU FRI SAT</div>
                    </div>
                    <div class="calendar-body">
                        <div class="num-dates"></div>
                    </div>
                </div>
            </div>
            <div style="position: relative">
                <form id="booking-form" method="post" action="{{ url_for('appts.appointments') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="name">Full Name <b class="required">&nbsp;*</b></label>
                        {{ form.name(size=32) }}
                    </div>
                    <div class="form-group">
                        <label for="email">Email <b class="required">&nbsp;*</b></label>
                        {{ form.email(size=32) }}
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone Number</label>
                        {{ form.phone_number(size=32, pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}') }}
                    </div>
                    <div class="form-group">
                        <label for="street_address">Street Address <b class="required">&nbsp;*</b></label>
                        {{ form.street_address(size=32, id='street_address') }}
                    </div>
                    <input type="hidden" id="latitude" name="latitude">
                    <input type="hidden" id="longitude" name="longitude">
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        {{ form.notes(size=32, cols='45', rows='8') }}
                    </div>
                </form>
                <h4 style="margin-bottom: 15px">Select Time</h4>
                <div class="time-slots"></div>
                <button type="submit" form="booking-form" value="Payment">Proceed</button>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
    <script>
        // Google Places Autocomplete
        function initAutocomplete() {
            const input = document.getElementById('street_address');
            const autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.setFields(['address_component', 'geometry']);

            input.placeholder = '';

            autocomplete.addListener('place_changed', function() {
                const place = autocomplete.getPlace();

                if (place.geometry) {
                    // Set latitude and longitude fields
                    document.getElementById('latitude').value = place.geometry.location.lat();
                    document.getElementById('longitude').value = place.geometry.location.lng();
                }
            });
        }
        
        window.onload = function() {
            initAutocomplete();
        }

        document.querySelectorAll('.form-group').forEach(group => {
            const input = group.querySelector('input, textarea');

            if (input) {
                input.addEventListener('input', () => {
                    if (input.value.trim() !== '') {
                        group.classList.add('not-empty');
                    } else {
                        group.classList.remove('not-empty');
                    }
                });

                if (input.value.trim() !== '') {
                    group.classList.add('not-empty');
                }
            }
        })
    </script>
{% endblock %}