<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}">
    {% block head %}{% endblock %}
</head>
<body class="flex">
    <header>
        {% block header %}
        <div><a href="{{ url_for('main.index') }}">Home</a></div>
        <nav>
            <ul>
                {% block nav %}{% endblock %}
            </ul>
        </nav>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
            <div class="footer_left">Copyright 2024 Groomy</div>
            <div class="footer_center"><a target="_blank" href="https://github.com/bsu-cs4360-software-engineering/groomy-table">GitHub</a></div>
            <div class="footer_right"><a href="{{ url_for('auth.login') }}">MyGroomy</a></div>
        {% endblock %}
    </footer>
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/margin.js') }}"></script>
</body>
</html>