<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <div><a href="{{ url_for('main.index') }}">Home</a></div>
        <nav>
            <ul>
                {% block nav %}{% endblock %}
            </ul>
        </nav>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
            <p>Copyright 2024 Groomy</p>
            <p>Socials</p>
            <p><a href="{{ url_for('auth.login') }}">MyGroomy</a></p>
        {% endblock %}
    </footer>
</body>
</html>