<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="root">
        <header>
            {% block header %}
            <div class="header-container">
                <div class="header-item">
                    <a class="header-logo" href="{{ url_for('main.index') }}">
                        <p>Gr</p>
                        <img class="left-paw" src="{{ url_for('static', filename='img/paw-logo-left.svg') }}" alt="Left Paw">
                        <img class="right-paw" src="{{ url_for('static', filename='img/paw-logo-right.svg') }}" alt="Right Paw">
                        <p>my</p>
                    </a>
                </div>
                <nav class="header-nav">
                    <ul class="nav-links">
                        {% block nav %}{% endblock %}
                    </ul>
                </nav>
            </div>
            <div class="header-divider">
                <span></span>
            </div>
            {% endblock %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% block footer %}
                <div class="footer-top">
                    <div class="column">
                        <div class="column-block footer-logo">
                            <p>Gr</p>
                            <img class="left-paw" src="{{ url_for('static', filename='img/paw-logo-left.svg') }}" alt="Left Paw">
                            <img class="right-paw" src="{{ url_for('static', filename='img/paw-logo-right.svg') }}" alt="Right Paw">
                            <p>my</p>
                        </div>
                        <div class="column-block">
                            <p>Groomy brings professional pet grooming right to your doorstep! We provide convenient, stress-free grooming for your furry friends at home. Fast, friendly, and reiable service&mdash;because your pets deserve the best!</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="column-block">
                            <img class="icon" src="{{ url_for('static', filename='img/place.svg') }}">
                            <p>Bemidji, MN</p>
                        </div>
                        <div class="column-block">
                            <a href="mailto:user@groomy.com"><img class="icon" src="{{ url_for('static', filename='img/mail.svg') }}"></a>
                            <p>user@groomy.com</p>
                        </div>
                        <div class="column-block">
                            <img class="icon" src="{{ url_for('static', filename='img/phone.svg') }}">
                            <p>+1 123-456-7890</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="column-block">
                            <strong>Sitemap</strong>
                        </div>
                        <div class="column-block">
                            <a href="{{ url_for('main.index') }}">Home</a>
                        </div>
                        <div class="column-block">
                            <a href="#">About</a>
                        </div>
                        <div class="column-block">
                            <a href="#">Contact</a>
                        </div>
                        <div class="column-block">
                            <a href="{{ url_for('auth.login') }}">MyGroomy</a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom flex">
                    <p class="copyright-container">Groomy &copy; 2024</p>
                    <div class="socials-container">
                        <a href="#" target="_blank" class="social-icon instagram"></a>
                        <a href="#" target="_blank" class="social-icon facebook"></a>
                        <a href="https://github.com/bsu-cs4360-software-engineering/groomy-table" target="_blank" class="social-icon github"></a>
                    </div>
                </div>
            {% endblock %}
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/margin.js') }}"></script>
</body>
</html>