{% extends 'base.html' %}

{% block head %}
    <title>Create New Account - Groomy</title>
{% endblock %}

{% block content %}
    <h1>Create Account</h1>
    <section>
    <form method="post" action="{{ url_for('new_acc.create_user') }}">
        {{ form.hidden_tag() }}

        {% if form.username.errors %}
            <ul>
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.username(size=32, placeholder="Username") }}

        {% if form.email.errors %}
            <ul>
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.email(size=32, placeholder="E-mail") }}

        {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.password(size=32, placeholder="Password") }}

        {% if form.confirm_password.errors %}
            <ul>
                {% for error in form.confirm_password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.confirm_password(size=32, placeholder="Confirm Password") }}

        {{ form.submit() }}
    </form>
</section>
{% endblock %}