{% extends 'base-dash.html' %}

{% block main %}
<section class="flex-column">
    <div class="section-header">
        <h1>Edit Service: {{ service.name }}</h1>
    </div>
    <form class="section-form flex-column" id="service-form" method="post">
        <table class="section-table">
            <tr>
                <td><strong>Name</strong></td>
                <td class="editable-field">
                    <label class="editable-text" for="name" onclick="enableEdit('name')">{{ service.name }}</label>
                    <input type="text" class="editable-input" id="name" name="name" value="{{ service.name }}" onblur="disableEdit('name')">
                </td>
            </tr>
            <tr>
                <td><strong>Description</strong></td>
                <td class="editable-field">
                    <label class="editable-text" for="description" onclick="enableEdit('description')">{{ service.description }}</label>
                    <input class="editable-input" id="description" name="description" value="{{ service.description }}" onblur="disableEdit('description')">
                </td>
            </tr>
            <tr>
                <td><strong>Price</strong></td>
                <td class="editable-field">
                    <label class="editable-text" for="price" onclick="enableEdit('price')">{{ service.price }}</label>
                    <input class="editable-input" id="price" name="price" value="{{ service.price }}" onblur="disableEdit('price')">
                </td>
            </tr>
            <tr>
                <td><strong>Addon</strong></td>
                <td><input type="checkbox" id="is_addon" name="is_addon" {% if service.is_addon %}checked{% endif %}></td>
            </tr>
            <tr>
                <td><strong>Package Deal</strong></td>
                <td><input type="checkbox" id="is_package" name="is_package" {% if service.is_package %}checked{% endif %}></td>
            </tr>
            <tr>
                <td><strong>Notes</strong></td>
                <td>
                    {% for note in service.note_links %}
                        <textarea name="notes" rows="3" placeholder="Enter note">{{ note.note.content }}</textarea><br>
                    {% endfor %}
                    <textarea name="notes" rows="3" placeholder="New note"></textarea><br>
                </td>
            </tr>
        </table>
        <button class="section-form-submit" type="submit">Save</button>
    </form>
</section>
<script src="{{ url_for('static', filename='js/formEdit.js') }}"></script>
{% endblock %}