{% extends 'base.html' %}
{% block head %}
    <title>Groomy</title>
{% endblock %}

{% block nav %}
    <li><a class="start-home" href="/">Home</a></li>
    <li><a href="{{ url_for('appts.appointments') }}">Book Appointment</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
{% endblock %}

{% block content %}
    <section>
        <a class="header-logo" href="{{ url_for('main.index') }}">
            <p>Gr</p>
            <img class="left-paw" src="{{ url_for('static', filename='img/paw-logo-left.svg') }}" alt="Left Paw">
            <img class="right-paw" src="{{ url_for('static', filename='img/paw-logo-right.svg') }}" alt="Right Paw">
            <p>my</p>
        </a>
    </section>
{% endblock %}