{% extends 'base.html' %}
{% block head %}
    <title>Groomy</title>
{% endblock %}

{% block nav %}
    <li><a class="start-home" href="/">Home</a></li>
    <li><a href="{{ url_for('appts.appointments') }}">Book Appointment</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
{% endblock %}

{% block content %}

<div class="homepage">
    <p>Hey, welcome to</p> <br>
    <h2>GR</h2>
    <img class="left-paw" src="{{ url_for('static', filename='img/paw-logo-left.svg') }}" alt="Left Paw">
    <img class="right-paw" src="{{ url_for('static', filename='img/paw-logo-right.svg') }}" alt="Right Paw">
    <h2>MY</h2>
</div>

        {% endblock %}