{% extends 'base.html' %}
    
{% block head %}
    <title>Portal - Groomy</title>
{% endblock %}

{% block content %}
<h1>Login</h1>
<section>
    <form method="post" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}

        {% if form.username_or_email.errors %}
            <ul>
                {% for error in form.username_or_email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.username_or_email(size=32, placeholder="Username or Email") }}

        {{ form.password(size=32, placeholder="Password") }}

        {{ form.submit() }}
        <p><a href="{{ url_for('new_acc.create_user') }}">Create New Account</a></p>
    </form>
</section>
{% endblock %}