{% extends 'base.html' %}
    
{% block head %}
    <title>Portal - Groomy</title>
{% endblock %}

{% block content %}
<h1>Login</h1>
<section>
    <form method="post" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}

        {% if form.username.errors %}
            <ul>
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.username(size=32, placeholder="Username") }}

        {{ form.password(size=32, placeholder="Password") }}

        {{ form.submit() }}
    </form>
</section>
{% endblock %}