{% extends 'base.html' %}
{% block head %}
    <title>Book Your Appointment - Groomy</title>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block nav %}
    <li><a class="start-home" href="/">Home</a></li>
    <li><a href="{{ url_for('appts.appointments') }}">Book Appointment</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>   
{% endblock %}

{% block content %}
    <section>
        <h2>Payment Method</h2>
        <form id="payment_form" method="post">
            <div id="payment_error"></div>
            <div id="card-element"></div>
            <button type="submit">Book Appointment</button>
        </form>
        <h2>Review Your Appointment Details</h2>
        <p>Name: {{ appointment_data.name }}</p>
        <p>Email: {{ appointment_data.email }}</p>
        <p>Phone: {{ appointment_data.phone_number }}</p>
        <p>Address: {{ appointment_data.street_address }}</p>
        <p>Date: {{ appointment_data.date }}</p>
        <p>Time: {{ appointment_data.time }}</p>
        <p>Notes: {{ appointment_data.notes }}</p>
    </section>
    <script>
        const stripe = Stripe('pk_test_51QDTQWJi74T5Aw7FKv8OFdXH8y1XC70ieQkvqsAVbq2gD5hB23VAxFvdyAJllZKTvlLh6ihO38D6l79em9HeyodJ00WgtKXJ8e');
        const elements = stripe.elements();
        const cardElement = elements.create('card');
        cardElement.mount('#card-element');

        document.getElementById('payment_form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const {token, error} = await stripe.createToken(cardElement);

            if (error) {
                document.getElementById('payment_error').innerText = error.message;
            } else {
                const response = await fetch('/payment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({token: token.id})
                });

                const result = await response.json();

                if (result.redirect_url) {
                    window.location.href = result.redirect_url;
                } else {
                    const result = await response.json();
                    document.getElementById('payment_error').innerText = result.message;
                }
            }
        });
    </script>
{% endblock %}